{% extends 'base.html' %}

{% block body %}
{% load static %}

<div class="container">
    <h1 style=" text-align: center; ">Order History</h1>
    <div class="row row-cols-10 row-cols-md-3">
        {% for order in orders %}
        <div class="col mb-4">
            <div class="d-flex mb-3">

                <div class="p-2">

                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <img src="/{{ order.item_id.item_img }}" style="width: 100%;height: auto;"
                                class=" card-img-top" alt="{{ order.item_id.item_img }}">
                            <h5 class="card-title">{{ order.item_name }}</h5>
                            <!-- <p class="card-text">{{ item.item_description }}</p> -->
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">User {{ order.user_id }}</li>
                            <li class="list-group-item">Quantity {{ order.quantity }}</li>
                            <li class="list-group-item">Total Cost €{{ order.total_cost }} </li>
                            <li class="list-group-item">Type
                                {% if order.item_id.item_isveg %}
                                {{ "Veg" }}
                                {% else %}
                                {{ "Non-Veg" }}
                                {% endif %}
                            </li>
                        </ul>
                        <div class="card-body">


                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}