
{% extends 'base.html' %}
{% load static %}

{% block body %}
<h1>Aboutus</h1>
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="D:/DjangoFolder/CA project/foodio/static/images/about.jpeg" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">Who Are We?</h2>
              <h2 class="h1 mb-3">What is the Purpose?</h2>

              <p class="lead fs-4 text-secondary mb-3">We are here deliver tasty food to customers .The idea is to connect to food lovers . Our mission is to revolutionize customers experience as we are committed to deliver not just food ,but trust through quality and safety . This is to uplift local businesses which have been started during the covid period .</p>
              <p class="mb-5">Hope we meet your Expectations</p>
       
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

