{% extends 'base.html' %}

{% block body %}

<div class="container">

    <!--Home-->
    <section class="home">
        <div class="form_container">
            <i class="uil uil-times form_close"></i>
            <!--Login-->
            <div class="form login_form">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="input_box">
                        <input type="text" name="username" placeholder="Username or Email" minlength="4" maxlength="12" required>
                        <i class="uil uil-envelope-alt email"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" name="password" placeholder="Password" required>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
                    <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" id="check">
                            <label for="check">Remember me</label>
                        </span>
                        <a href="#" class="forgot_pw">Forgot Password?</a>
                    </div>

                    <button class="button" type="submit">Login Now</button>

                    <div class="login_signup">
                        Don't have an account? <a href="#" id="signup">Signup</a>
                    </div>
                </form>
            </div>
            <!--Register-->
            <div class="form signup_form">
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <h2>Signup</h2>
                    <div class="input_box">
                        <input type="text" id="username" name="username" placeholder="Enter your UserName" required>
                        <!-- <i class="uil uil-envelope-alt email"></i> -->
                    </div>
                    <div class="input_box">
                        <input type="text" id="first_name" name="first_name" placeholder="Enter your FirstName" required>
                        <!-- <i class="uil uil-envelope-alt email"></i> -->
                    </div>
                    <div class="input_box">
                        <input type="text" id="last_name" name="last_name" placeholder="Enter your LastName" required>
                        <!-- <i class="uil uil-envelope-alt email"></i> -->
                    </div>
                    <div class="input_box">
                        <input type="email" id="emailid" name="emailid" placeholder="Enter your Email" required>
                        <i class="uil uil-envelope-alt email"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" id="password1" name="password1" placeholder="Create Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" required>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>
                    <div class="input_box">
                        <input type="password" id="password2" name="password2" placeholder="Confirm Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" required>
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <button class="button" type="submit">Signup</button>

                    <div class="login_signup">
                        Already have an account? <a href="#" id="login">Login</a>
                    </div>
                </form>
            </div>

            
        </div>
    </section>
    <script src="static/js/script.js"></script>
</div>

{% endblock %}